@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Montagu Slab", sans-serif !important;
}

.main-gallery {
        height: 82vh;   
}

.logo-top {
    width:310px; 
    height:150px;
}

.carousel-item img {
    object-fit: cover;
        background-size: cover;
        height: 82vh;
}

.carousel-caption { 
    padding-left: 1rem;
    padding-right: 30px;
    top: 40%;
}
.nav-item {
    margin: 0 5px;
    font-size: 18px;
}
.nav-link:hover {
    color: #0c838d !important;
    font-weight: bold;
    transform: scale(1.1);
    transition: ease-in-out 0.2s;
}
.carousel-caption h2 {
    font-size: 45px;

}
.carousel-caption p {
    font-size: 20px;
}
.zespół-img {
    width: 380px;
    height: 380px;
    border-radius: 50%;
    box-shadow: -12px 12px 0px 0px #0c838d;
}
.btn-success {
    color: #fff;
    background-color: #0c838d !important;
    border-color: #0c838d !important;
}
.accordion-item {
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    background: #cf2c2c;
    padding: 20px 20px;
    -webkit-box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
  }
  
  .height-gal {
    height: 75vh !important;
  }

  .accordion-item > .title {
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 1;
    cursor: pointer;
    font-size: 24px;
    font-weight: 400;
  }
  
  .accordion-item > .title > .arrow {
    fill: #0c838d;
    padding-left: 10px;
  }
  
  .accordion-item > .content {
    display: none;
    overflow: hidden;
  }
  
  .accordion-item > .content > .entry {
    line-height: 1.74;
  }
  
  .accordion-item > .content > .entry p:last-of-type, .accordion-item > .content > .entry p:last-child {
    margin-bottom: 0;
  }
  .usługi {
    max-width: 750px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
  }

  .logo-bot {
        width: 200px;
        height: auto;
  }

  .icons {
    display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
    margin-top: 0px;
  }
  .icons i {
    margin: 15px 10px;
    color: #0c838d;
  }
  
  .icon {
    height: 40px !important;
    width: 40px;
    display: block;
    border-radius: 25%;
    margin: 13px 10px;
  }
  
.bg-shadow-left {
    box-shadow: 25px 0px 0px -12px #0c838d !important;
    padding-left: 10px;
}

.bg-shadow-full {
    background: linear-gradient(to left, #fff 0%, #fff 80%, #0c838d 80%);
}


.onas-img img {
    width: 100%;
    height: auto;
}

.box {
    -ms-flex-item-align: end;
        align-self: flex-end;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    height: 2px;
    margin: 0 auto 0 auto;
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  
  .box:hover {
    -webkit-animation-name: bounce-5;
            animation-name: bounce-5;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
  }
  
  @-webkit-keyframes bounce-5 {
    0% {
      -webkit-transform: scale(1, 1) translateY(0);
              transform: scale(1, 1) translateY(0);
    }
    10% {
      -webkit-transform: scale(1.1, 0.9) translateY(0);
              transform: scale(1.1, 0.9) translateY(0);
    }
    30% {
      -webkit-transform: scale(0.9, 1.1) translateY(-10px);
              transform: scale(0.9, 1.1) translateY(-10px);
    }
    50% {
      -webkit-transform: scale(1, 1) translateY(0);
              transform: scale(1, 1) translateY(0);
    }
    57% {
      -webkit-transform: scale(1, 1) translateY(-4px);
              transform: scale(1, 1) translateY(-4px);
    }
    64% {
      -webkit-transform: scale(1, 1) translateY(0);
              transform: scale(1, 1) translateY(0);
    }
    100% {
      -webkit-transform: scale(1, 1) translateY(0);
              transform: scale(1, 1) translateY(0);
    }
  }
  
  @keyframes bounce-5 {
    0% {
      -webkit-transform: scale(1, 1) translateY(0);
              transform: scale(1, 1) translateY(0);
    }
    10% {
      -webkit-transform: scale(1.1, 0.9) translateY(0);
              transform: scale(1.1, 0.9) translateY(0);
    }
    30% {
      -webkit-transform: scale(0.9, 1.1) translateY(-10px);
              transform: scale(0.9, 1.1) translateY(-10px);
    }
    50% {
      -webkit-transform: scale(1, 1) translateY(0);
              transform: scale(1, 1) translateY(0);
    }
    57% {
      -webkit-transform: scale(1, 1) translateY(-4px);
              transform: scale(1, 1) translateY(-4px);
    }
    64% {
      -webkit-transform: scale(1, 1) translateY(0);
              transform: scale(1, 1) translateY(0);
    }
    100% {
      -webkit-transform: scale(1, 1) translateY(0);
              transform: scale(1, 1) translateY(0);
    }
  }


@media (max-width:991px) {
    .reverse {
        flex-direction: column-reverse;
    }
    .navbar-collapse {
        text-align: center;
    }
    .carousel-caption {
        top: 30%;
    }
    .onas .col-lg-5 {
        text-align: center !important;
    }
    .logo-bot {
        margin: 20px 0;
        width: 150px;
  }
}
@media (max-width: 500px) {
    .logo-top {
        width:200px; 
        height:110px;
        margin-left: 0;
    }
    .zespół-img {
        width: 270px;
        height: 270px;
        border-radius: 50%;
    }
    .accordion-item > .title {
        font-size: 15px;
    }
    .carousel-caption h2 {
      font-size: 28px;
  }
  .carousel-caption p {
    font-size: 17px;
}


}
@media (max-width: 600px) {
    .bg-shadow-left {
        box-shadow: 25px 0px 0px -12px #ffffff !important;
    }
    
}

@media (max-width: 360px) {
    .wrapper {
      margin: 0 auto;
      width: 360px;
    }
  }
 @media (min-width: 991px) and (max-width: 1080px) {
    .nav-item {
        font-size: 15px;
    }
 }
 @media (min-width: 991px)  {
   .navbar-nav {
     margin-right: 20px;
   }
 }


  @media (min-width: 2000px) {
    .wrapper {
      margin: 0 auto;
      width: 2000px;
    }
  }
