@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@200;300;400;500;600&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Montagu Slab", sans-serif !important;
}

.main-gallery {
        height: 650px;   
}

.logo-top {
    width:310px; 
    height:150px;
    margin-left: 20px;
}

.carousel-item img {
    object-fit: cover;
        background-size: cover;
        height: 77vh;
}

.carousel-caption { 
    top: 40%;
}
.nav-item {
    margin: 0 5px;
    font-size: 18px;
}
.carousel-caption h2 {
    font-size: 45px;

}
.carousel-caption p {
    font-size: 20px;
}
.zespół-img {
    width: 380px;
    height: 380px;
    border-radius: 50%;
}

.accordion-item {
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    background: #cf2c2c;
    padding: 20px 20px;
    -webkit-box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
  }
  
  .accordion-item > .title {
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 1;
    cursor: pointer;
    font-size: 24px;
    font-weight: 400;
  }
  
  .accordion-item > .title > .arrow {
    fill: #365838;
  }
  
  .accordion-item > .content {
    display: none;
    overflow: hidden;
  }
  
  .accordion-item > .content > .entry {
    line-height: 1.74;
  }
  
  .accordion-item > .content > .entry p:last-of-type, .accordion-item > .content > .entry p:last-child {
    margin-bottom: 0;
  }
  .usługi {
    max-width: 750px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
  }


.onas-img img {
    width: 100%;
    height: auto;
}

@media (max-width:991px) {
    .reverse {
        flex-direction: column-reverse;
    }
    .navbar-collapse {
        text-align: center;
    }
    .carousel-caption {
        top: 30%;
    }
    .onas .margin-closer {
        margin-top: -100px !important;
    }
    .onas .col-lg-5 {
        text-align: center !important;
    }
}
@media (max-width: 500px) {
    .logo-top {
        width:200px; 
        height:110px;
        margin-left: 0;
    }
    .zespół-img {
        width: 270px;
        height: 270px;
        border-radius: 50%;
    }
    
}
@media (max-width: 360px) {
    .wrapper {
      margin: 0 auto;
      width: 360px;
    }
  }

  @media (min-width: 2000px) {
    .wrapper {
      margin: 0 auto;
      width: 2000px;
    }
  }